@font-face {
  font-family: "Elden Ring";
  src: url("/public/elden-ring.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Elden Ring" !important;
}

body {
  background: url("/public/background-tarnished.jpg") no-repeat center center
    fixed; /* Fixed background */
  background-size: cover; /* Cover the entire viewport */
  color: #e0e0e0; /* Light text color */
  overflow-x: hidden;
}
/* index.css */

/* Home Container Styles */
.home-container {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 100vh !important; /* Full viewport height */
  background: url("/background-tarnished.jpg") no-repeat center center fixed !important; /* Fixed background */
  background-size: cover !important;
  overflow: hidden !important;
}

/* Elden Ring Button Styles */
.elden-ring-button {
  display: inline-block !important;
  text-decoration: none !important; /* Remove underline from link */
  font-family: "Elden Ring", Arial, sans-serif !important;
  font-size: 2rem !important;
  padding: 12px 24px !important;
  backdrop-filter: blur(5px);
  background-color: transparent !important; /* Dark button background */
  color: #ffd700 !important; /* Elden Ring gold color */
  border: 2px solid #8a8a8a !important; /* Metallic border */
  border-radius: 12px !important; /* Rounded corners */
  cursor: pointer !important;
  transition: transform 0.3s ease, background-color 0.3s ease-in-out !important;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3) !important;
}

.elden-ring-button:hover {
  transform: translateY(-5px) !important; /* Lift effect */
  background-color: #444444 !important; /* Lighter background on hover */
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5) !important;
}

.elden-ring-button:focus {
  outline: none !important;
}

.scroll-to-top-button {
  position: fixed !important;
  bottom: 30px !important;
  right: 30px !important;
  display: none !important;
  width: 50px !important;
  height: 50px !important;
  border-radius: 50% !important;
  background-color: #333333 !important; /* Dark metallic background */
  color: #fff !important;
  border: 2px solid #8a8a8a !important; /* Metallic border */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3) !important;
  transition: transform 0.3s ease, opacity 0.3s ease-in-out !important;
  z-index: 1000 !important;
  font-size: 0 !important; /* Hide text content */
}

.scroll-to-top-button.show {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  opacity: 0.9 !important;
  font-size: 16px !important; /* Show text content */
}

.scroll-to-top-button:hover {
  transform: translateY(-5px) !important; /* Lift effect */
  background-color: #444444 !important; /* Slightly lighter for hover effect */
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5) !important;
}

.scroll-to-top-button svg {
  color: #ffd700 !important; /* Elden Ring gold color */
  font-size: 24px !important;
}

.scroll-to-top-button:before {
  content: "" !important;
  position: absolute !important;
  top: -3px !important;
  left: -3px !important;
  right: -3px !important;
  bottom: -3px !important;
  border-radius: 50% !important;
  background: linear-gradient(
    45deg,
    transparent,
    #ffcc00,
    transparent
  ) !important;
  z-index: -1 !important;
  transition: 0.5s !important;
}

.scroll-to-top-button:hover:before {
  filter: blur(8px) !important;
  transform: scale(1.2) !important;
}

/* App Container */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: #1c1c1c; /* Darker header background */
  border-bottom: 1px solid #444; /* Subtle border for separation */
}

.header-title {
  font-size: 2.5rem; /* Adjusted for a cleaner look */
}

.header-subtitle {
  font-size: 1.2rem; /* Adjusted for a cleaner look */
  margin-top: -0.5%;
  color: #b50000;
}

.sorting-buttons button {
  font-family: "Arial", sans-serif;
  border-radius: 20px !important;
  background-color: transparent !important;
  color: #ffffff !important;
  border: 2px solid #ffffff !important;
  transition: background-color 0.3s ease-in-out !important;
  text-transform: none !important;
  padding: 8px 16px !important;
}

.sorting-buttons button:hover {
  background-color: #1e1e1e !important;
}

/* Main Content */
.main-content {
  flex: 1;
  padding: 16px; /* Reduced padding for a cleaner look */
}

/* Footer */
.footer {
  background-color: #2a2a2a;
  color: #a0a0a0;
  text-align: center;
  padding: 8px; /* Reduced padding for a cleaner look */
  border-top: 1px solid #444;
}

/* Boss Search Container */
.boss-search-container {
  max-width: 1000px; /* Adjusted width for better mobile fit */
  margin: 0 auto;
}

/* Search Bar */
.search-bar {
  margin-bottom: 16px !important; /* Reduced margin for a cleaner look */
  background-color: #3b3b3b;
  border: 1px solid #666;
  border-radius: 8px; /* Adjusted for a cleaner look */
  color: #e0e0e0;
  transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transitions */
}

.search-bar input {
  color: #e0e0e0;
  padding: 8px 12px; /* Reduced padding for a cleaner look */
  border-radius: 8px; /* Adjusted for a cleaner look */
  border: none; /* Remove default border */
  width: 100%;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3); /* Subtle inner shadow */
}

.search-bar:hover,
.search-bar:focus-within {
  background-color: #4a4a4a; /* Lighter background on hover or focus */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); /* Reduced shadow for cleaner look */
}

.search-bar input:focus {
  outline: none; /* Remove default focus outline */
}

/* Sort Control */
.sort-control {
  margin-bottom: 16px !important; /* Reduced margin for a cleaner look */
  background-color: #3b3b3b;
  border-radius: 8px; /* Adjusted for a cleaner look */
  padding: 6px; /* Reduced padding for a cleaner look */
}

.sort-control .MuiInputLabel-root {
  color: #e0e0e0; /* Light color for the label */
  margin-bottom: 6px; /* Reduced space for a cleaner look */
}

.sort-control .MuiSelect-root {
  background-color: #2a2a2a; /* Background color of the select */
  color: #e0e0e0; /* Text color inside the select */
  border-radius: 6px; /* Adjusted for a cleaner look */
  border: 1px solid #666; /* Border around the select */
  padding: 8px; /* Reduced padding for a cleaner look */
}

.sort-control .MuiSelect-root:hover {
  background-color: #3b3b3b; /* Lighter background on hover */
}

/* Boss Grid */
.boss-grid {
  margin-bottom: 16px; /* Reduced margin for a cleaner look */
}

.boss-card {
  background-color: #2a2a2a !important;
  height: 100%;
  border: 1px solid #444;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.boss-card:hover {
  transform: scale(1.02); /* Slight scale for cleaner look */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5); /* Reduced shadow for cleaner look */
}

.boss-card-media {
  height: 150px; /* Adjusted for a cleaner look */
  object-fit: cover;
}

.boss-card-content {
  padding: 12px; /* Reduced padding for a cleaner look */
}

/* index.css */

.boss-card-tip {
  white-space: nowrap !important; /* Prevent text wrapping */
  text-align: center !important; /* Center the text */
  margin-top: 10px !important; /* Add some margin */
  color: #ababab !important; /* Elden Ring gold color for text */
  font-weight: bold !important; /* Make text bold */
  font-size: 1rem !important; /* Font size */
  width: 100% !important; /* Ensure it takes the full width */
}

.boss-card-title {
  color: #d5bd38; /* Gold color */
  font-size: 1.2rem; /* Adjusted for cleaner look */
}

.boss-card-description {
  color: #b0b0b0;
  font-size: 0.9rem; /* Adjusted for cleaner look */
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  margin: 16px 0; /* Reduced margin for a cleaner look */
}

/* Dialog */
.dialog-paper {
  border-radius: 12px; /* Adjusted for a cleaner look */
  background-color: #1e1e1e !important;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dialog-title {
  color: #fff;
  font-size: 2rem !important;
}

/* Dialog Grid Layout for Desktop */
.dialog-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns for desktop */
  gap: 16px; /* Reduced gap for cleaner look */
  padding: 16px !important; /* Reduced padding for cleaner look */
  background-color: #1e1e1e;
}

.dialog-image {
  grid-column: span 2; /* Image spans both columns */
  width: 60%; /* Adjusted for a cleaner look */
  margin: auto;
  height: auto;
  border-radius: 8px; /* Adjusted for a cleaner look */
  margin-bottom: 12px; /* Reduced margin for cleaner look */
}

.dialog-description {
  grid-column: span 2; /* Description spans both columns */
  color: #ccc;
  font-size: 1.1rem !important; /* Adjusted for a cleaner look */
  text-align: left;
  margin-bottom: 8% !important; /* Reduced margin for cleaner look */
}

/* Dialog Item Cards */
.dialog-item-card {
  background-color: #2a2a2a; /* Card background color */
  border: 1px solid #444;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 12px;
  width: 100%;
}

.dialog-item-icon {
  color: #ffcc00;
  margin-right: 8px; /* Reduced margin for cleaner look */
  font-size: 1.6rem !important; /* Adjusted for cleaner look */
}

.dialog-item-text {
  color: #fff;
  font-size: 1.1rem !important; /* Adjusted for cleaner look */
  font-weight: normal;
}

.dialog-close-button {
  margin: 12px 0; /* Reduced margin for cleaner look */
  font-weight: bold;
  color: #b50000 !important;
}

.dialog-actions {
  padding: 12px; /* Reduced padding for cleaner look */
  display: flex;
  justify-content: center;
}

/* Responsive Design */
@media (max-width: 1024px) {
  body {
    background: url("/public/background-tarnished.jpg") no-repeat center center
      fixed; /* Fixed background */
    background-size: cover; /* Cover the entire viewport */
  }

  .dialog-content {
    grid-template-columns: 1fr; /* Single column for tablets */
    padding: 12px; /* Reduced padding for cleaner look */
  }

  .dialog-image {
    width: 50% !important;
  }

  .dialog-description {
    font-size: 1rem; /* Adjusted for cleaner look */
    margin-bottom: 12px; /* Reduced margin for cleaner look */
  }

  .dialog-item-card {
    margin-bottom: 12px; /* Reduced margin for cleaner look */
  }

  .dialog-item-icon {
    font-size: 1.4rem; /* Adjusted for cleaner look */
  }

  .dialog-item-text {
    font-size: 1rem; /* Adjusted for cleaner look */
  }

  .dialog-close-button {
    margin: 8px 0; /* Reduced margin for cleaner look */
  }
}

@media (max-width: 768px) {
  .dialog-content {
    padding: 8px !important; /* Reduced padding for cleaner look */
  }

  .dialog-image {
    width: 100% !important;
    margin-bottom: 8px !important; /* Reduced margin for cleaner look */
  }

  .dialog-description {
    font-size: 0.9rem !important; /* Adjusted for cleaner look */
    margin-bottom: 8px !important; /* Reduced margin for cleaner look */
  }

  .dialog-item-card {
    margin-bottom: 8px !important; /* Reduced margin for cleaner look */
  }

  .dialog-item-icon {
    font-size: 1.2rem !important; /* Adjusted for cleaner look */
  }

  .dialog-item-text {
    font-size: 0.9rem !important; /* Adjusted for cleaner look */
  }

  .dialog-close-button {
    margin: 8px 0; /* Reduced margin for cleaner look */
  }
}
